<a href="https://colab.research.google.com/github/aghareed-mahmoud/Assignments/blob/main/Answers_of_Assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Write a Python program to add an item to a tuple.

In [ ]:
thistuple = ("Data Science", "AI", "Machine Learning")
thislist= list(thistuple)
thislist.append("NLP")
thistuple= tuple(thislist)
print(thistuple)

In [ ]:
T= tuple(('Data Science', 'AI', 'Machine Learning'))
this_list= list(T)
this_list.append('NLP')
T= tuple(this_list)
print(T)

In [ ]:
thistuple = ("Data Science", "AI", "Machine Learning")
new_tuple = tuple(("NLP", ))
thistuple += new_tuple
print(thistuple)

2. Write a Python program to sum all the items in a list

In [ ]:
thislist =[100, 200, 300, 400]
Sum_of_items = sum(thislist)
print(Sum_of_items)

1000

3. Write a Python program to multiply all the items in a list

In [ ]:
def multiply_of_numbers(list):
    total = 1
    for i in list:
        total *= i
    return total

print(multiply_of_numbers([1, 4, 4]))

16

In [ ]:
import numpy
List= [1, 4, 4]
result = numpy.prod(List)
print(result)

16

4. Write a Python program to get the smallest number from a list.

In [ ]:
list= [5.5, 5.1, 4.5, 4.4]
print(min(list))

4.4

5. Write a Python program to get the largest number from a list.

In [ ]:
list = [-1, -2, -3]
print(min(list))

-3

6. Write a Python program to count the number of strings from a given list of
strings.

In [ ]:
list = ["AI", "NLP", "CL", "AI", "AI"]
x= list.count("AI")
print(x)

3

7. Write a Python program to clone or copy a list

In [ ]:
list = ["AI", "NLP", "CL", "AI", "AI"]
x= list.copy()
print(x)

['AI', 'NLP', 'CL', 'AI', 'AI']

8. Write a Python program to remove item(s) from a given set.

In [ ]:
list = [1, 3, 4, 5]
list.remove(1)
print(list)

[3, 4, 5]

In [ ]:
thislist = ["AI", "ML", "NLP"]
thislist.pop (0)
print(thislist)

['ML', 'NLP']

In [ ]:
thislist = [1, 2, 3, 4]
del thislist [-1]
print(thislist)

[1, 2, 3]

9. Write a Python program to check if a set is a subset of another set.

In [ ]:
set1 = {"AI", "NLP", "CL", "ML"}
set2 ={"CL", "NLP"}
set3= set2.issubset(set1)
print(set3)

True

In [ ]:
set1 = {"AI", "NLP", "CL", "ML"}
set2 ={"CL", "NLP"}
set3= set2 <= set1
print(set3)

True

10. Write a Python program to remove all elements from a given set.

In [ ]:
list = [1, 2, 3, 4]
x= list.clear ()
print(x)

None

In [ ]:
list = ["AI", "CL"]
del list
print(list)

<class 'list'>

11. Write a Python program to find the maximum and minimum values in a set.

In [ ]:
set= {1.5, 2.2, 3.4, 2.4}
print(max(set))
print(min(set))

3.4
1.5

12. Write a Python program to find the index of an item in a tuple.

In [ ]:
tuple = ("AI", "NLP", "CL")
print(tuple[-1])

CL

In [ ]:
tuple = ("AI", "CL", "NLP")
x =tuple.index("AI")
print(x)

0

13. Write a Python program to convert a tuple to a dictionary.

In [ ]:
thistuple = (("apple", 0), ("cherry", 1), ("kiwi", 2))
dictionary = dict(thistuple)
print("dictionary is", dictionary)

dictionary is {'apple': 0, 'cherry': 1, 'kiwi': 2}

14. Write a Python program to unzip a list of tuples into individual lists.

In [3]:
Tuples = [(1, 2), (3, 4), (8, 9)]
print(*Tuples)

(1, 2) (3, 4) (8, 9)

In [ ]:
l = [(1, 2), (3, 4), (8, 9)]
def unzip(a,b,c):
  return list(zip(a,b,c))
unzip(*l)

[(1, 3, 8), (2, 4, 9)]

In [ ]:
a = (1, 2)
b = (3, 4)
c=(8, 9)

x = zip(a, b,c)
print(list(x))

[(1, 3, 8), (2, 4, 9)]

In [ ]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

15. Write a Python program to reverse a tuple.

In [ ]:
tuple1= ("AI", "NLP", "CL")
X = list(tuple1)
X.reverse()
tuple1= (X)
print(tuple1)

['CL', 'NLP', 'AI']

16. Write a Python program to convert a list of tuples into a dictionary

In [ ]:
list_of_tuples = [("AI", 1), ("NLP", 2), ("CL", 3)]

dict = {key: value for key, value in list_of_tuples}

print("Dictionary:", dict)

Dictionary: {'AI': 1, 'NLP': 2, 'CL': 3}

17. Write a Python program to replace the last value of tuples in a list.
Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)

In [ ]:
sample_list = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
output_list=[]
for x, y, z in sample_list:
  print(x, y, z)
  output_list.append((x,y,100))
print(output_list)

10 20 40
40 50 60
70 80 90
[(70, 80, 100)]

18. Write a Python program to sort a tuple by its float element.

In [ ]:
thistuple= (2.5, 2.6, 2.3, 2.2)
thislist= list(thistuple)
thislist.sort()
thistuple= tuple(thislist)
print(thistuple)

(2.2, 2.3, 2.5, 2.6)