<a href="https://colab.research.google.com/github/aghareed-mahmoud/Assignments/blob/main/Answers_of_assignments_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src="https://i.redd.it/6brfmxf7b8ga1.png" alt="Italian Trulli">

### Exercise on data types

## <font color='red'>What data type would that be?</font>

#### x = 5
#### print(type(x))

In [ ]:
#that would be an integer
x = 5
print(type(x))

#### x = "Hello World"
#### print(type(x))

In [ ]:
# that would be be a string
x = "Hello World"
print(type(x))

#### x = 20.5
#### print(type(x))

In [ ]:
# that would be a float
x = 20.5
print(type(x))

#### x = ["apple", "banana", "cherry"]
#### print(type(x))

In [ ]:
# that would be a list of strings
x = ["apple", "banana", "cherry"]
print(type(x))

#### x = ("apple", "banana", "cherry")
#### print(type(x))

In [ ]:
# that would be a tuple
x = ("apple", "banana", "cherry")
print(type(x))

#### x = {"name" : "John", "age" : 36}
#### print(type(x))

In [ ]:
# that would be a dictionary
x = {"name" : "John", "age" : 36}
print(type(x))

#### x = True
#### print(type(x))

In [ ]:
#that would be a boolean
x = True
print(type(x))

## Exercise on Numbers

#### Insert the correct syntax to convert x into a floating point number.

In [ ]:
# x = 5
# x =....(x)
# print(x)

In [ ]:
x = 5
x = float(x)
print(x)

5.0

### Insert the correct syntax to convert x into a integer.

In [ ]:
# x = 5.5
# x =......(x)
# print(x)

In [ ]:
x = 5.5
x = int(5.5)
print(x)

5

## Exercise on string

### Use the `len()` function to print the length of the string.

In [ ]:
# x = "Hello World"
# print(.........)

In [ ]:
x = "Hello World"
print(len(x))

11

### Get the first character of the string txt.

In [ ]:
# txt = "Hello World"
# x = ..........

In [ ]:
txt = "Hello World"
x = txt[0]
print(x)

H

### Get the characters from index 2 to index 4 (llo).

In [ ]:
# txt = "Hello World"
#  x =........

In [ ]:
txt = "Hello World"
x = txt[2 : 5]
print(x)

llo

##### Return the string without any whitespace at the beginning or the end.
##### hint ` txt.strip()`

In [ ]:
# txt = " Hello World "
# x =..................

In [ ]:
txt = " Hello World "
x = txt.strip(None)
print(x)

Hello World

### Convert the value of `txt` to upper case.

In [ ]:
# txt = "Hello World"
# txt = ........

In [ ]:
txt = "Hello World"
uppercase_txt = txt.upper()
print(uppercase_txt)

HELLO WORLD

In [ ]:
txt = "Hello World"
uppercase_txt = txt.capitalize()
print(uppercase_txt)

Hello world

### Convert the value of `txt` to lower case.

In [ ]:
# txt = "Hello World"
# txt = .........

In [ ]:
txt = "HELLO WORLD"
lowercase_txt = txt.lower()
print(lowercase_txt)

hello world

In [ ]:
txt = "HELLO WORLD"
lowercase_txt = txt.casefold()
print(lowercase_txt)

hello world

#### Replace the character` H` with a `J`

In [ ]:
# txt = "Hello World"
# txt = txt. .......(...,... )

In [ ]:
txt = "Hello World"
new_txt = txt.replace("H", "J")
print(new_txt)

Jello World

#### Insert the correct syntax to add a placeholder for the age parameter.

In [ ]:
# age = 36
# txt = f"My name is John, and I am ......"
# print(txt)

In [ ]:
age = 36
txt = f"My name is John, and I am {age} years old"
print(txt)

My name is John, and I am 36 years old

### Exercise on Booleans

The statement below would print a Boolean value, which one?

In [ ]:
# print(10 > 9)
# True

The statement below would print a Boolean value, which one?

In [ ]:
# print(10 == 9)
# False

The statement below would print a Boolean value, which one?

In [ ]:
# print(10 < 9)
# False

### <font color='gold'>Exercise-1</font>

#### Write a Python program to print the following string in a specific format

In [ ]:
# Twinkle, twinkle, little star,
# 	How I wonder what you are!
# 		Up above the world so high,
# 		Like a diamond in the sky.
# Twinkle, twinkle, little star,
# 	How I wonder what you are!

### <font color='gold'>Exercise-2</font>

#### Write a Python program that print the user's first and last name and prints them in reverse order with a space between them.

In [7]:
def reverse_name():
    first_name = input("Enter your first name: ")
    last_name = input("Enter your last name: ")
    reversed_name = last_name + " " + first_name
    print("Your name in reverse order is:", reversed_name)
reverse_name()

Enter your first name: Aghareed
Enter your last name: Abdallah
Your name in reverse order is: Abdallah Aghareed

### <font color='gold'>Exercise-3</font>

#### Write a Python program that calculates the area of a circle and radius = 1.1

In [9]:
import math

def calculate_circle_area(radius):
    area = math.pi * (radius ** 2)
    return area
radius = 1.1
circle_area = calculate_circle_area(radius)
print("The area of the circle is:", circle_area)

The area of the circle is: 3.8013271108436504

### <font color='gold'>Exercise-4</font>

#### Write a Python program that accepts a filename from the user and prints the extension of the file.

Sample Output:
Input the Filename: abc.java                                                                                  
The  extension of the file is : 'java'

In [10]:
def get_file_extension(filename):
    parts = filename.split('.')

    extension = parts[-1]
    return extension
filename = input("Input the Filename: ")
file_extension = get_file_extension(filename)
print("The extension of the file is:", repr(file_extension))

Input the Filename: abc.java
The extension of the file is: 'java'

### <font color='gold'>Exercise-5</font>

#### Covert from string to list and tuple value ="Amit"

In [12]:
value = "Amit"

list_value = list(value)
print("List:", list_value)
tuple_value = tuple(value)
print("Tuple:", tuple_value)

List: ['A', 'm', 'i', 't']
Tuple: ('A', 'm', 'i', 't')

 ## After that

### Relace the index 3 in the list

In [13]:
list_value[3] = 'e'

print(list_value)

['A', 'm', 'i', 'e']

 ### Convert the list to string and print the list

In [14]:
string_value = ''.join(list_value)

print(string_value)

Amie

### <font color='gold'>Exercise-6</font>

#### Write a Python program to display the first and last colors from the following list.

#### color_list = ["Red","Green","White" ,"Black"]

<img src="https://www.w3resource.com/w3r_images/python-basic-image-exercise-8.png" alt="Italian Trulli">

In [15]:
color_list = ["Red", "Green", "White", "Black"]
first_color = color_list[0]
last_color = color_list[-1]
print("First color:", first_color)
print("Last color:", last_color)

First color: Red
Last color: Black

## <font color='gold'>Exercise-7</font>

#### Write a Python program to print the following 'here document'.

In [ ]:
#Sample Output:
# a string that you "don't" have to escape
# This
# is a  ....... multi-line
# heredoc string --------> example

In [1]:
print('''a string that you "don't" have to escape
This
is a  ....... multi-line
heredoc string --------> example''')

a string that you "don't" have to escape
This
is a  ....... multi-line
heredoc string --------> example

## <font color='gold'>Exercise- 8</font>

I need to  check if  link `https://www.google.com/` start with https or not and if the ` aimt4536@gmail.com` end with .com

In [2]:
link = 'https://www.google.com/'
if link.startswith('https'):
    print("The link starts with 'https'")
else:
    print("The link does not start with 'https'")

email = 'aimt4536@gmail.com'
if email.endswith('.com'):
    print("The email ends with '.com'")
else:
    print("The email does not end with '.com'")

The link starts with 'https'
The email ends with '.com'

# Thanks ❤

<img src="https://pbs.twimg.com/media/ELwC6EgXYAE8AtN.jpg" alt="Italian Trulli">